body {
background-image: url("image/background.jpg");
background-repeat: repeat;
font-size: 25px;
text-align: center;
}


div.titulo {
    
    background-color: rgb(77, 77, 77,0.5);
  
    color: white;
    text-align: center;
    font-family:monospace;
    line-height: 50px;
    font-size: 30px;
    
    /* color: white;
    width: 1500px;
    margin: auto;
    background-color: rgb(77, 77, 77,0.5);
    padding: 1px;
    border-radius: 0px;   
    text-align:center */
}


div.formulario {
    color: white;
    width: 350px;
    margin: 100px 10px 10px 150px;
    background-color: rgb(77, 77, 77,0.5);
    padding: 50px;
    border-radius: 30px;   
    text-align: left; 
    
}

button[type="submit"]{
    background: rgb(94, 94, 94);
    border: 1px solid rgb(255, 255, 255);
    margin:25px 10px 10px 1px;
    color: white;
    width: 350px; height: 35px;
    }

 div.formline {
    height: 40px;

 }
 div.descripcion {
    color: white;
    width:95%;
    margin: 40px 10px 10px 1px;
    background-color: rgb(77, 77, 77,0.5);
    padding: 15px;
    border-radius: 30px;   
    text-align:center;
    font-size: 26px; 
 }

div.columna {
    float: left;
    width: 50%;

}